---
import Layout from "../layouts/Layout.astro";
import * as careerContent from "../content/career/career.md";

const career = careerContent.frontmatter;
console.log(career);
---

<Layout>
    <career>
        {
            career.map((item: any) => {
                return (
                    <div
                        class={
                            item.isProfessional
                                ? "career-item professional"
                                : "career-item academic"
                        }
                    >
                        <div
                            class={
                                item.isPresent
                                    ? "career-card present"
                                    : "career-card"
                            }
                        >
                            <div class="role">{item.role}</div>
                            <div class="institution">
                                {item.institution} &#8729; {item.location}
                            </div>
                            <div class="dates">
                                {item.startMonth} {item.startYear} —{" "}
                                {item.isPresent ? (
                                    <span class="present">Present</span>
                                ) : (
                                    `${item.endMonth} ${item.endYear}`
                                )}
                            </div>
                        </div>
                    </div>
                );
            })
        }
    </career>
</Layout>

<style>
    career {
        position: relative;
        padding-left: 4px;
        border-left: 2px solid rgb(var(--accent));
    }

    .career-item {
        margin-bottom: 30px;
        position: relative;
    }

    .career-item::before {
        content: "";
        position: absolute;
        left: -10px;
        top: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }

    .career-item.professional::before {
        background-color: rgb(var(--accent-light));
    }

    .career-item.academic::before {
        background-color: rgb(var(--accent-dark));
    }

    .career-card {
        margin-left: 20px;
        padding: 10px;
    }

    .role {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 5px;
    }

    .institution {
        font-style: italic;
        margin-bottom: 5px;
    }

    .career-card.present {
        background-color: red;
    }

    .career-card .dates {
        color: rgb(var(--accent));
        font-size: 14px;
    }
</style>
